body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 34px;
    
  }

  #name {
    float: left;
    width: 250px;
    font-size: 30px;
    line-height: 90px;
    color: white;
    text-align: center;
    background: teal;
  }
  #header {
    position: fixed;
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid lightgrey;
  }
/* bootstrap navbar */
  .navbar {
    margin-top: 15px;
  }
  .nav {
    border-top: 8px solid teal;
    height: 100px;
    color: white;
  }

  .row2 {
    margin: 25px;
  }

  .cat {
    float: left;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
  }

  .jumbotron {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
  }

  .pic {
    position: relative;
    width: 274px;
    margin: 20px 0 25px;
  }

  h3 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 15px;
    font-weight: 300;
    line-height: 30px;
    color: white;
    text-align: center;
    background: teal;
    max-width: 275px;
    }