body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 34px;
    color: teal;
    
  }

  #name {
    float: left;
    width: 250px;
    font-size: 30px;
    line-height: 90px;
    color: white;
    text-align: center;
    background: teal;
  }
  #header {
    position: fixed;
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid lightgrey;
  }
/* bootstrap navbar */
  .navbar {
    margin-top: 15px;
  }